server:
  port: 8080

management:
  endpoints:
    web:
      base-path: /xxx/xxx
info:
  app:
    name: @project.name@
    description: @project.description@
    version: @project.version@
    encoding: @project.build.sourceEncoding@
spring:
  jpa:
    properties:
      hibernate:
        default_schema: xxx
        show_sql: true
        temp:
          use_jdbc_metadata_defaults: false
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
  datasource:
    url: jdbc:postgresql://xxxx
    username: db_admin
    password: admin123    
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 1
